@model IEnumerable<CinemaHallIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CinemaHall.Name)
            </th>
            <th>
                Max Spectators
            </th>
            <th>
                Current Spectators
            </th>
            <th>
                Film
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaHall.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaHall.MaxSpectators)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentSpectators)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CinemaHall.Film.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gross)
            </td>
            <td>
                    @Html.ActionLink("Edit","Edit",null, new {Id = item.CinemaHall.Id}, new { @class = "btn btn-sm btn-outline-primary" })
                    @Html.ActionLink("Details","Details",null, new {Id = item.CinemaHall.Id}, new { @class = "btn btn-sm btn-outline-primary" })
                    @Html.ActionLink("Empty hall","EmptyHall",null,new {Id = item.CinemaHall.Id}, new { @class = "btn btn-sm btn-danger" })
                    @Html.ActionLink("Delete","Delete",null, new {Id = item.CinemaHall.Id}, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>