@model IEnumerable<CinemaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cinema.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gross)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gross)
            </td>
            <td>
                <a asp-action="Index" asp-controller="CinemaHalls" asp-route-id="@item.Cinema.Id">View cinema's halls</a> |
                <a asp-action="Edit" asp-route-id="@item.Cinema.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cinema.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cinema.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>